/* custom styling */


body {
    background-color: #ffffff;
}

.actions-wrapper {
  height: 400px;
}

.actions {
  display: inline-flex;
}


.actions-icon {
    width: 120px;
    height: 120px;
    transition: background 200ms ease-in-out;
    display: block;
    background-color: #efefef;
    border-radius: 9999px;
  }

.actions-icon svg {
  color: #d1d1d1;
  fill: #d1d1d1;
}





.asdf {
  max-width: 800px;
  margin: 0 auto;
}

p {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #858585;
}

.circle {
  position: absolute !important;
  width: 240px;
  height: 240px;
  border: 1px solid #fff;
  position: relative;
  margin: auto;
  background: #fff;
  top: 250px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 999px;
  transition: 1s;
}

.inner-circle {
  width: 200px;
  height: 200px;
  border: 1px solid #efefef;
  position: absolute;
  margin: auto;
  background: #efefef;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	border-radius: 999px;
}

 .triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: auto;
  top: -230px;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 25px 40px 25px;
  border-color: transparent transparent #efefef transparent;
  line-height: 0px;
  _border-color: #efefef #efefef #ffffff #efefef;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#efefef');
 }


#cr:hover~.circle {
  transform: rotate(35deg) ;
  -webkit-transform: rotate(35deg) ;
  -moz-transform: rotate(35deg) ;
  -o-transform: rotate(35deg) ;
  -ms-transform: rotate(35deg) ;
}

#cr:focus~.circle {
  transform: rotate(35deg) ;
  -webkit-transform: rotate(35deg) ;
  -moz-transform: rotate(35deg) ;
  -o-transform: rotate(35deg) ;
  -ms-transform: rotate(35deg) ;
}

#cr:hover {
  cursor: pointer;
}

#cl:hover~.circle {
  transform: rotate(-35deg) ;
  -webkit-transform: rotate(-35deg) ;
  -moz-transform: rotate(-35deg) ;
  -o-transform: rotate(-35deg) ;
  -ms-transform: rotate(-35deg) ;
}

#cl:focus~.circle {
  transform: rotate(-35deg) ;
  -webkit-transform: rotate(-35deg) ;
  -moz-transform: rotate(-35deg) ;
  -o-transform: rotate(-35deg) ;
  -ms-transform: rotate(-35deg) ;
}

#cl:hover {
  cursor: pointer;
}
